body {
    background-color:black;
    color: lightgrey;
    
}
h1 {
    color: lawngreen;
}

h2 {
    color: grey;
    font-style: oblique;
    font-family: monospace;
}
section {
    background-color: black;
    color: lightgrey;
}
article {
    background-color: black;
    color: lightgrey
}