body {
    background-color:black;
    color: lightgrey;
    
}

img{

}

h1 {
    color: lawngreen;
}

h2 {
    color: grey;
    font-style: oblique;
    font-family: monospace;
}

section {
    background-color: black;
    color: lightgrey;
}

article {
    background-color: black;
    color: lightgrey
}

a:link {
        color: #FF1493;
    }

a:visited {
        color:#8B008B;
    }